APP_NAME=Peppol Lookup API
APP_VERSION=0.1.0
APP_ENV=development
APP_CONTEXT_PATH=/
LOG_LEVEL=INFO
LOG_FORMAT=json
ALLOWED_ORIGINS=*
JSON_PRETTY_PRINT=false
PEPPOL_LOOKUP_ENVIRONMENTS=prod,test
PEPPOL_DIRECTORY_PROD_URL=https://directory.peppol.eu
PEPPOL_DIRECTORY_TEST_URL=https://test-directory.peppol.eu
PEPPOL_LOOKUP_SERVICE_URL=https://api-lookup.peppol.org
PEPPOL_SML_PROD_DNS_ZONE=participant.sml.prod.tech.peppol.org
PEPPOL_SML_TEST_DNS_ZONE=participant.sml.test.tech.peppol.org
PEPPOL_SOURCE_TIMEOUT_MS=8000
PEPPOL_CACHE_TTL_SECONDS=900
PEPPOL_INCLUDE_RAW_MAX_BYTES=65536
PEPPOL_CODELIST_SOURCE_URL=https://docs.peppol.eu/edelivery/codelists/
PEPPOL_CODELIST_CACHE_DIR=data/codelists
PEPPOL_CODELIST_REFRESH_SECONDS=86400
PEPPOL_CODELIST_REQUIRED=true
PEPPOL_CODELIST_AUTO_REFRESH=false
PEPPOL_RATE_LIMIT_REQUESTS=60
PEPPOL_RATE_LIMIT_WINDOW_SECONDS=60
PEPPOL_DIRECTORY_ENABLED=true
PEPPOL_SML_ENABLED=true
PEPPOL_SMP_ENABLED=true
PEPPOL_LOOKUP_SERVICE_ENABLED=true
